*{margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
.ju_wrap{
    margin: 0 40px;
    margin-bottom: 40px;
}
.ju_wrap_inner{
    max-width: 1920px;
    margin: 0 auto;
}
.ju_content{
    padding-bottom: 60px;
    background-image: url(../../img/cooking_bg.jpg);
}
.ju_sec1_banner{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../../img/ju_sec1_1.jpg);
}
.ju_sec2{
    padding: 70px 0 20px;
    height: 276px;
}
.ju_sec2_txt_inner{
    max-width: 900px;
    padding: 0 30px;
    position: relative;
    margin: 0 auto;
}
.ju_sec2_txt_inner2{
    margin-left: 165px;
    padding-left: 80px;
    height: 171px;
    width: 700px;
}
.ju_sec2_txt_inner2 h2{
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    color: #666;
}
.ju_sec2_txt_inner2 p{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666;
}
.ju_sec3{
    padding-top: 90px;
    padding-bottom: 20px;
    display: block;
    height: 660px;
}
.ju_sec3_wrap{
    max-width: 900px;
    padding: 0 30px;
    position: relative;
    margin: 0 auto;
}
.ju_sec3_inner{
    margin-left: 165px;
    padding-left: 80px;
    height: 660px;
    width: 700px;
}
.ju_sec3_list{
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #fafafa;
    height: 660px;
}
.ju_sec3_item{
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #cbcbcb;
    padding: 30px 0;
    height: 212px;
}
.ju_sec3_item h4{
    padding: 0 20px;
    float: left;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    width: 400px;
    color: #333;
}
.ju_sec3_img{
    float: right;
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.ju1{background-image: url(../../img/ju_sec3_1.png);}
.ju2{background-image: url(../../img/ju_sec3_2.png);}
.ju3{background-image: url(../../img/ju_sec3_3.png);}
.ju_sec3_desc{
    padding: 20px 40px 0 20px;
    float: left;
    font-size: 15px;
    line-height: 24px;
    width: 400px;
    color: #666;
    height: 92px;
}
.ju_sec4{
    display: block;
    height: 473px;
}
.ju_sec4_wrap{
    padding-top: 90px;
    padding-bottom: 20px;
    height: 473px;
}
.ju_sec4_inner{
    max-width: 900px;
    padding: 0 30px;
    position: relative;
    margin: 0 auto;
}
.ju_sec4_review{
    margin-left: 165px;
    padding-left: 80px;
    height: 322px;
    width: 700px;
}
.ju_sec4_re_info{
    padding: 20px 20px 20px 15px;
    border-bottom: 1px solid #cbcbcb;
    height: 85px;
    margin-top: 120px;
}
.ju_sec4_txt2{
    float: left;
    color: #888;
    width: 423px;
    font-size: 15px;
}
.ju_sec4_txt3{
    float: right;
    text-align: right;
    font-size: 17px;
    width: 141px;
    color: #666;
}
.ju_sec4_txt4{
    position: relative;
    padding: 60px 0;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #cbcbcb;
    text-align: center;
    margin-bottom: 40px;
    color: #666;
    height: 236px;
}
.ju_sec4_txt4 p{
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 17px;
}
.ju_sec5{
    height: 1290px;
    display: block;
    margin-bottom: 90px;
}
.ju_sec5_wrap{
    padding-bottom: 40px;
    padding-top: 90px;
    height: 1160px;
}
.ju_sec5_inner{
    max-width: 900px;
    padding: 0 30px;
    position: relative;
    margin: 0 auto;
}
.ju_sec5_box{
    margin-left: 165px;
    padding-left: 80px;
    margin-top: 100px;
    height: 1160px;
}
.ju_sec5_box2{
    background-color: #fff;
    border: 4px solid #e0e0e0;
    width: 620px;
    height: 1160px;
}