*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
.wrapper{
    font-family: "Noto Sans KR";
    min-width: 320px;
}
#header{
    display: block;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    background-color: #ffffff;
}
.mainLogo{
    width: 260px;
    height: 46px;
    margin: 80px auto 60px;
}
.mainLogo img{
    width: 260px;
    height: 46px;
}
.categoryTap{
    height: 57px;
}
.categoryTap ul{
    display: block;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.categoryMenu{
    margin: 15px 35px 0 0;
    float: left;
    font-size: 18px;
    color: #000000;
}
.cart{
    float: right;
    margin: 5px 0 0 1px;
}
.cartImg{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    background-image: url(../img/top_icon_cart.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.myPage{
    float: right;
    margin: 5px 0 0 1px;
    position: relative;
}
.myPageImg{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/top_icon_login.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.btnBalloon{
    position: absolute;
    left: -14px;
    top: -33px;
    width: 69px;
    height: 34px;
    background-image: url(../img/login_balloon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.search{
    float: right;
    width: 185px;
    height: 40px;
    border-bottom: 2px solid #787878;
    margin: 5px 0 0 0;
}
.search input{
    display: inline-block;
    background-color: #ffffff;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 0;
    font-size: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.searchImg{
    display: inline-block;
    width: 40px;
    height: 35px;
    background-image: url(../img/top_icon_search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: top;
}
.productWrap{
    width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
}
section{
    display: block;
}
.sec_inner{margin: 70px 0 0 0;}
.sec_banner{
    width: 100%;
    height: 370px;
    position: relative;
    background-image: url(../img/sec_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.sec_txt{
    display: inline-block;
    position: absolute;
    bottom: 44px;
    left: 48px;
    font-size: 45px;
    color: #000000;
    line-height: 48px;
}
.tabBrand{
    margin: 25px 0 0 0;
}
.tabRow{
    position: relative;
    height: 20px;
}
.b{
    color: #000000 !important;
    font-weight: bold !important;
}
.menu{
    padding: 0 15px;
    display: block;
    color: #999999;
    font-size: 16px;
    line-height: 20px;
    float: left;
    position: relative;
}
.menu:after{
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 20px;
    background-color: #999999;
}
.menu:first-child:after{content: none;}
.menu:first-child{padding: 0 15px 0 0;}
.sec2_info{
    padding: 44px 0 30px 0;
    position: relative;
    height: 120px;
}
.result{
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: 16px;
    color: #646464;
    line-height: 23px;
}
.result strong{
    font-size: 20px;
    color: #000000;
    line-height: 23px;
}
.selectBox{
    display: block;
    float: right;
    width: 165px;
    height: 46px;
}
.selectBox select{
    border: 1px solid #424242;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 0 12px;
    color: #424242;
    font-size: 17px;
    line-height: 44px;
    background-image: url(../img/sel_arrow.png);
    background-size: 17px 9px;
    background-repeat: no-repeat;
    background-position: right 0.3125rem center;
    appearance: none;
}
.selectBox select option{
    color: #424242;
    font-size: 17px;
    line-height: 44px;
    display: block;
    font-weight: normal;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 100%;
    margin: 0 auto;
}
.item{
    float: left;
    position: relative;
}
.info{
    display: block;
    height: 125px;
    padding: 15px 0 0 0;
    text-align: center;
}
.item .img{
    cursor: pointer;
    width: 270px;
    height: 272px;
}
.item .img img{width: 100%;}
.item .name{
    display: block;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
}
.item .price{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
}
.item .newN{
    width: 30px;
    height: 13px;
    display: inline-block;
    margin: 0 2px;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-size: 30px 13px;
    background-position: center center;
}
.pagination{
    padding: 60px 0;
    text-align: center;
    background-color: lightgoldenrodyellow;
}
.pageBox{display: inline-block;}
.btn_pageprev{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin: 0 10px;
}
.txt_pagenum{
    display: block;
    float: left;
}
.txt_pagenum a{
    display: block;
    line-height: 35px;
    padding: 0 15px;
    color: #808080;
    font-size: 16px;
}