*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
.wrapper{
    font-family: "Noto Sans KR";
    min-width: 320px;
}
#header{
    display: block;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    background-color: #ffffff;
}
.mainLogo{
    width: 260px;
    height: 46px;
    margin: 80px auto 60px;
}
.mainLogo img{
    width: 260px;
    height: 46px;
}
.categoryTap{
    height: 57px;
}
.categoryTap ul{
    display: block;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.categoryMenu{
    margin: 15px 35px 0 0;
    float: left;
    font-size: 18px;
    color: #000000;
}
.cart{
    float: right;
    margin: 5px 0 0 1px;
}
.cartImg{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    background-image: url(../img/top_icon_cart.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.myPage{
    float: right;
    margin: 5px 0 0 1px;
    position: relative;
}
.myPageImg{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/top_icon_login.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.btnBalloon{
    position: absolute;
    left: -14px;
    top: -33px;
    width: 69px;
    height: 34px;
    background-image: url(../img/login_balloon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.search{
    float: right;
    width: 185px;
    height: 40px;
    border-bottom: 2px solid #787878;
    margin: 5px 0 0 0;
}
.search input{
    display: inline-block;
    background-color: #ffffff;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 0;
    font-size: 16px;
    color: #000000;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.searchImg{
    display: inline-block;
    width: 40px;
    height: 35px;
    background-image: url(../img/top_icon_search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: top;
}
.swiper-container{
    height: 540px;
    position: relative;
    width: 100%;
}
.swiper-slide{
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.slide1{background-image: url(../img/banner1.jpg);}
.slide2{background-image: url(../img/banner2.jpg);}
.slide3{background-image: url(../img/banner3.jpg);}
.swiper-pagination{
    bottom: 10px !important;
}
.banner .swiper-pagination-bullet{
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 7px;
    opacity: 0.5;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1;
}
.eventBanner{
    width: 1200px;
    margin: 20px auto 0;
    padding: 0;
    height: 205px;
}
.eventBanner_l{
    background-color: #c5e7e0;
    background-image: url(../img/eventBanner_l.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    margin: 0 10px 0 0;
    float: left;
    display: block;
    width: 590px;
    height: 205px;
    border-radius: 5px;
    color: #000000;
    font-size: 17px;
    line-height: 23px;
    padding: 55px 0 0 30px;
    text-align: left;
}
.eventBanner_l b, .eventBanner_r b{
    display: block;
    font-size: 29px;
    margin-bottom: 24px;
}
.eventBanner_r{
    background-color: #e4c6e2;
    background-image: url(../img/eventBanner_r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    margin: 0 0 0 10px;
    float: left;
    display: block;
    width: 590px;
    height: 205px;
    border-radius: 5px;
    color: #000000;
    font-size: 17px;
    line-height: 23px;
    padding: 55px 0 0 30px;
    text-align: left;
}
.bestItemWrap{
    width: 1200px;
    margin: 100px auto 0;
    padding: 0;
    text-align: left;
}
.bestItemTitle{
    text-align: left;
    display: inline-block;
    color: #000000;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Saira', sans-serif;
}
.more{
    display: inline-block;
    width: 18px;
    height: 21px;
    vertical-align: top;
    margin: 4px 0 5px 7px;
    background-image: url(../img/gogo_pc.png);
    background-size: 18px 21px;
    background-repeat: no-repeat;
    background-position: center center;
}
.bestItemList{
    width: 100%;
    margin: 0 auto;
}
.list_t{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.box_sec{
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 310px;
    width: 210px;
    margin: 20px 15px 0;
    text-align: center;
}
.itemNumber{
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #8f8f8f;
    color: #ffffff;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    font-family: 'Saira', sans-serif;
}
.num1{background-color: #c80203;}
.itemBg{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.03;
}
.itemImg{
    width: 210px;
    height: 210px;
    border-radius: 50%;
}
.itemName{
    display: block;
    width: 210px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.itemPrice{
    display: block;
    width: 210px;
    margin: 7px 0 5px 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    font-weight: bold;
}
.red{color: #f20001;}
.newArrivalWrap{
    width: 1200px;
    margin: 50px auto 0;
    padding: 0;
    text-align: left;
}
.newArrivalTitle{
    text-align: left;
    display: inline-block;
    color: #000000;
    line-height: 30px;
    font-size: 30px;
    font-family: 'Saira', sans-serif;   
    font-weight: bold;
}
.newArrivalList{
    padding: 12px 0 0 0;
    margin: 0 auto;
    width: 100%;
}
.list_new{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.box_sec2{
    display: block;
    text-align: left;
    float: left;
    width: 390px;
    height: 380px;
    background-size: 390px 380px;
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    padding: 32px 0 0 32px;
    margin: 0 15px 0 0;
}
.newA1{
    background-color: #e2d3f4;
    background-image: url(../img/newA1.jpg);
}
.newA2{
    background-color: #fadad0;
    background-image: url(../img/newA2.jpg);
}
.newA3{
    background-color: #d0ecf8;
    background-image: url(../img/newA3.jpg);
}
.newA1 b, .newA2 b, .newA3 b{
    display: block;
    text-align: left;
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 15px 0;
}
.eventProductWrap{
    background-color: #f6dea5;
    display: block;
    width: 1200px;
    margin: 80px auto 0;
    border-radius: 5px;
}
.eventProductWrap img{
    display: block;
    width: 1200px;
    height: 350px;
    border-radius: 5px;
}
.eventProductList{
    width: 100%;
    padding: 15px 15px 5px;
    margin: 0 auto;
}
.list_ep{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.box_sec3{
    width: 208px;
    height: 306px;
    margin: 0 13px;
    text-align: center;
    position: relative;
}
.box_sec3 img{
    width: 208px;
    height: 208px;
    background-color: #ffffff;
}
.designFinderWrap{
    display: block;
    margin: 90px 0 0 0;
}
.designFinderTitle{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    background-image: url(../img/designfinder_bg.png);
    background-repeat: no-repeat;
    background-size: 1200px 1px;
    background-position: center;
}
.designFinderTitle b{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Saira', sans-serif;   
    font-size: 26px;
}
.bannerDF{
    height: 220px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
}
.bannerDF .swiper-slide{
    width: 200px !important;
    height: 200px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 15px !important;
    margin-left: 15px !important;
}
.bannerDF .swiper-pagination-bullet{
    display: none;
}
.bannerDF .slide4{background-image: url(../img/df_item1.jpg);}
.bannerDF .slide5{background-image: url(../img/df_item2.jpg);}
.bannerDF .slide6{background-image: url(../img/df_item3.jpg);}
.bannerDF .slide7{background-image: url(../img/df_item4.jpg);}
.bannerDF .slide8{background-image: url(../img/df_item5.jpg);}
.bannerDF .slide9{background-image: url(../img/df_item6.jpg);}
.bannerDF .slide10{background-image: url(../img/df_item7.jpg);}
.bannerDF .slide11{background-image: url(../img/df_item8.jpg);}
.bannerDF .slide12{background-image: url(../img/df_item9.jpg);}
.bannerDF .slide13{background-image: url(../img/df_item10.jpg);}
.characterWrap{
    display: block;
    background-color: #f8f8f8f8;
    margin: 80px 0 0 0;
    padding: 67px 0 0 0;
}
.characterMenu{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    /* background-color: lightsalmon; */
    overflow: hidden;
}
.cmTab{
    width: 1170px;
    height: 120px;
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.cmImg{
    margin-right: 10px;
    width: 218px;
    height: 120px;
    /* background-color: lightgreen; */
    background-repeat: no-repeat;
    background-size: 218px 120px;
}
.cm1{ background-image: url(../img/cm1.jpg);}
.cm2{ background-image: url(../img/cm2.jpg);}
.cm3{ background-image: url(../img/cm3.jpg);}
.cm4{ background-image: url(../img/cm4.jpg);}
.cm5{ background-image: url(../img/cm5.png);}
.cm1:hover{background-image: url(../img/cm1_1.jpg);}
.cm2:hover{background-image: url(../img/cm2_1.jpg);}
.cm3:hover{background-image: url(../img/cm3_1.jpg);}
.cm4:hover{background-image: url(../img/cm4_1.jpg);}
.characterItem1{
    width: 1200px;
    height: 590px;
    margin: 0 auto;
    /* display: block; */
    /* background-color: lightsteelblue; */
}
.cmItemWrap{
    width: 1180px;
    height: 590px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box_sec4{
    width: 285px;
    height: 285px;
    margin: 10px 5px 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cmItem1{background-image: url(../img/cmitem1.jpg);}
.cmItem2{background-image: url(../img/cmitem2.jpg);}
.cmItem3{background-image: url(../img/cmitem3.jpg);}
.cmItem4{background-image: url(../img/cmitem4.jpg);}
.cmItem5{background-image: url(../img/cmitem5.jpg);}
.cmItem6{background-image: url(../img/cmitem6.jpg);}
.cmItem7{background-image: url(../img/cmitem7.jpg);}
.cmItem8{background-image: url(../img/cmitem8.jpg);}
.about{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.aboutImg{
    display: block;
    width: 1170px;
    height: 240px;
    margin: 0 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/PC_AboutArtboxurl_1.jpg);
}
.artboxFriendsWrap{
    margin: 80px auto 0;
    width: 1200px;
    height: 97px;
    background-size: 14px 3px;
    background-position: center center;
    background-repeat: repeat-x;
    background-image: url(../img/artboxfriends_bg_pc.png);
}
.artboxFriendsLink{
    display: block;
    width: 473px;
    height: 97px;
}
.instagramEventWrap{
    display: block;
    width: 1200px;
    height: 550px;
    margin: 70px auto 0;
}
.instagramList{
    float: left;
    width: 812px;
    height: 550px;
}
.instagramEventTitle{
    color: #000000;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Saira', sans-serif;   
}
.instagramEventTitle span{
    font-size: 20px;
    color: #aeaeae;
    font-weight: normal;
    font-family: 'Saira', sans-serif;
}
.instagramList ul{
    width: 812px;
}
.instagramList li{
    display: block;
    width: 250px;
    height: 250px;
    margin: 10px 10px 0 0;
    float: left;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
.itImg1{background-image: url(../img/itImg1.jpg);}
.itImg2{background-image: url(../img/itImg2.jpg);}
.itImg3{background-image: url(../img/itImg3.jpg);}
.itImg4{background-image: url(../img/itImg4.jpg);}
.itImg5{background-image: url(../img/itImg5.jpg);}
.itImg6{background-image: url(../img/itImg6.jpg);}
.eventWrap{
    display: block;
    float: left;
    width: 388px;
    height: 550px;
}
.eventWrapBack{
    position: relative;
    background-color: #f5f5f5f5;
    width: 388px;
    height: 510px;
    margin-top: 10px;
    padding: 60px 0 0 0;
}
.eventBk{
    height: 380px;
    position: relative;
    width: 240px;
    margin: 0 auto;
}
.eventBk .swiper-slide{
    width: 240px;
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 240px 293px;
}
.eventBk .slide14{background-image: url(../img/bk1.jpg);}
.eventBk .slide15{background-image: url(../img/bk2.jpg);}
.eventBk .slide16{background-image: url(../img/bk3.jpg);}
.threeBannerWrap{
    width: 1200px;
    margin: 57px auto 38px;
    height: 157px;
}
.bBox1Wrap{
    display: block;
    float: left;
    width: 392px;
    height: 157px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    background-color: #deecf7;
}
.bBox1Img{
    display: block;
    width: 392px;
    height: 157px;
    background-image: url(../img/bannerbox1.png);
    background-repeat: no-repeat;
    background-size: 55px 110px;
    background-position: 35px center;
    margin: 0;
}
.bBox1Img h1{
    padding: 34px 0 0 105px;
    font-weight: normal;
    margin: 0;
    height: 62px;
    line-height: 25px;
    font-size: 25px;
    color: #000000;
    text-align: left;
    font-family: 'Saira', sans-serif;   
}
.bBox1Img h2{
    padding: 5px 0 0 105px;
    font-weight: normal;
    margin: 0;
    height: 41px;
    line-height: 18px;
    font-size: 15px;
    color: #000000;
    text-align: left;
}
.bBox1Img h3{
    padding: 5px 0 0 105px;
    font-weight: normal;
    margin: 0;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #000000;
    text-align: left;
}
.bBox2Wrap{
    display: block;
    float: left;
    width: 392px;
    height: 157px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    background-color: rgb(252, 208, 92);
}
.bBox2Img{
    display: block;
    width: 392px;
    height: 157px;
    background-image: url(../img/bannerBox2_1.jpg);
    background-size: 130px 122px;
    background-repeat: no-repeat;
    background-position: 245px center;
    margin: 0;
}
.bBox2Img h1{
    padding: 34px 0 0 35px;
    font-weight: normal;
    margin: 0;
    height: 62px;
    line-height: 28px;
    font-size: 28px;
    color: #000000;
    text-align: left;
    font-family: 'Saira', sans-serif;   
}
.bBox2Img h2{
    padding: 8px 0 0 35px;
    height: 60px;
    text-align: left;
    display: block;
}
.bBox2Img h2 span{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 8px 0 0;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}   
.iso{background-image: url(../img/bannerBox2_2.png);}
.android{background-image: url(../img/bannerbox2_3.png);}
.desktop{background-image: url(../img/bannerBox2_4.png);}
.bBox3Wrap{
    display: block;
    float: left;
    width: 392px;
    height: 157px;
    margin: 0 0 0 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
}
.bBox3Img{
    display: block;
    width: 392px;
    height: 157px;
    background-image: url(../img/bannerBox3.png);
    background-size: 101px 80px;
    background-repeat: no-repeat;
    background-position: 45px 32px;
}
.bBox3Img h1{
    padding: 47px 0 0 157px;
    margin: 0;
    font-weight: normal;
    height: 60px;
    line-height: 30px;
    font-size: 25px;
    color: #3a4b59;
    text-align: left;
    font-family: 'Saira', sans-serif;  
}
.footer{
    display: block;
    border-top: 1px solid #e4e4e4;
    padding: 23px 0 42px;
}
.footerMenu{height: 30px;}
.footerMenu ul{
    display: block;
    height: 30px;
    width: 1200px;
    margin: 0 auto;
}
.fLink{
    height: 30px;
    line-height: 30px;
    margin: 0 24px 0 0;
    float: left;
    font-size: 14px;
    color: #808080;
    line-height: 30px;
}
.familySite{
    float: right;
    width: 150px;
}
.familySite select{
    display: block;
    border: 1px solid #838383;
    width: 150px;
    height: 30px;
    padding: 0 9px;
    font-size: 14px;
    background-color: #ffffff;
    background-image: url(../img/select_bg.png);
    background-repeat: no-repeat;
    background-size: 36px 9px;
    background-position: center right;
    appearance: none;
}
.facebook, .instagram, .youtube{
    float: right;
    margin: 0 12px 0 0;
    display: block;
    width: 30px;
    height: 30px;
}
.footerInfo{
    padding-top: 39px;
}
.footerInfo ul{
    display: block;   
    width: 1200px;
    margin: 0 auto;
}
.footerInfo li{float: left;}
.callCenter{
    width: 330px;
    font-size: 13px;
    line-height: 13px;
    color: #808080;
}
.string{
    display: block;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 5px;
}
.num{
    display: block;
    font-family: 'Saira', sans-serif;  
    font-size: 37px;
    line-height: 37px;
    color: #000000;
    padding-bottom: 10px;
}
.callCenter small{
    display: block;
    font-size: 12px;
    color: #3a4b59;
    line-height: 12px;
    padding-top: 10px;
}
.twoBtn{width: 290px;}
.twoBtn a{
    display: inline-block;
    width: 115px;
    height: 115px;
    border: 3px solid #cecece;
    margin: 0 7px 0 0;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    border-radius: 8px;
    color: #808080;
}
.twoBtn a img{
    display: block;
    margin: 20px auto 5px;
    width: 50px;
    height: 50px;
}
.information{
    width: 580px;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
    padding-bottom: 42px;
}
.information span{
    font-size: 16px;
}
.txt1{
    color: #5f5f5f;
    font-weight: bold;
    font-size: 12px !important;
    line-height: 20px;
}