*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
.ma_wrap{
    padding-bottom: 100px;
    background-color: #f2f2f2;
    margin: 0 40px;
}
.ma_content{
    max-width: 1920px;
    margin: 0 auto;
}
.ma_banner{
    height: 400px;
    background-image: url(../img/ma_banner1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.ma_sec{
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    /* height: 1638px; */
}
.ma_product{
    margin-top: 40px;
    height: 1700px;    
}
.ma_list_wrap{
    float: left;
    width: 720px;
}
.list{
    width: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.finder{
    float: left;
    width: 25%;
}
.finder_spacer{
    width: 220px;
    background-color: #fff;
}
.finder_top{
    height: 178px;
    padding: 30px 30px 30px;
    background-color: #aea69b;
}
.finder_title{
    position: relative;
    border-bottom: 1px solid #bfb8b0;
}
.finder_txt{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.pagination{
    /* margin-left: 25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.pagination li{
    float: left;
    margin-left: 5px;
}
.search_option{
    position: relative;
    margin: 10px 0;
}
.search_total{
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
}
.search_icon{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    outline: 0;
    background-color: #79746e;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_box{
    position: relative;
}
.search_input{
    color: #666;
    line-height: 21px;
    text-align: left;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    border-top-color: #c9c9c9;
    background-color: #f7f7f7;
    box-shadow: inset 0 1px 0 #e8e8e8;
    padding-left: 15px;
    padding-right: 35px;
    width: 160px;
    height: 35px;
    position: relative;
}
.input_icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 33px;
    color: #333;
    text-align: center;
    border: 0;
    background: 0;
}
.categorys{
    padding: 10px 20px 7px;
    user-select: none;
}
.categoryItem h1{
    font-size: 15px;
    color: #666;
    font-weight: 400;
    display: block;
    position: relative;
    line-height: 55px;
}
.categoryItem{border-top: 1px solid #e0e0e0;}
.categoryItem:first-child{border-top: none;}
.check div{
    font-size: 14px;
    display: block;
    line-height: 35px;
    padding-left: 35px;
    cursor: pointer;
    color: #666;
    font-weight: 400;
}
.checkbox{
    width: 23px !important;
    height: 16px !important;
    margin-top: 9px;
    float: left;
}

