*{margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
.bon{
    width: 100%;
    height: 390px;
    background-image: url(../img/sub_visual.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}
.innerWrapin{
    position: relative;
    height: 100%;
    width: 1132px;
    margin: 0 auto;
}
.title{
    color: #fff;
    padding-top: 180px;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
}
.totalTabBox{
    border-top: 1px solid #ccc;
    margin-bottom: 50px;
}
.tabBrand{
    display: table;
    width: 100%;
    margin-bottom: 30px;
    table-layout: fixed;
    margin-top: -20px;
}
.tabRow{
    display: table-row;
}
.tabRow a{
    cursor: pointer;
    user-select: none;
}
.tabBrand .tabRow > a.on{
    color: #222;
    font-weight: 500;
}
.tabBrand .tabRow > a{
    display: table-cell;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #DDD;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    text-decoration: none;
}
.container{
    width: 1130px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.item{
    position: relative;
    margin-top: 20px;
    /* padding-bottom: 10px; */
}
.img{
    border: 1px solid #ddd;
    cursor: pointer;
    width: 260px;
    height: 260px;
}
.img img{
    width: 260px;
    height: 260px;
}
.item .name{
    padding: 10px 0 0 0;
    font-size: 18px;
    font-weight: 500;
}
.item .price{
    margin-top: 2px;
    color: #962639;
    font-size: 18px;
    font-weight: 500;
}
.btn_order{
    width: 100%;
    text-align: center;
    color: #fff;
    background: #6e0000;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}
.order_fixed{
    position: fixed;
    bottom: 0;
    left: 0;
}
.best{
    background: #962639;
    width: 50px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    padding: 0 8px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    /* z-index: 1000; */
}
.new{
    background: #87af0f;
    color: #fff;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0 8px;
    /* z-index: 1000; */
    position: absolute;
    left: 0;
    top: 0;
}
.give{
    width: 65px;
    height: 30px;
    background: #f29700;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}