*{margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
.main_banner{
    margin: 0;
}
.swiper-container{
    height: 540px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #ffd9e0;
}
.swiper-wrapper{
    height: 540px;
    width: 1200px;
    margin: 0 auto;
}
.swiper-slide{
    width: 1200px;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.slide1{background-image: url(../img/m_banner1.jpg);}
.slide2{background-image: url(../img/m_banner2.jpg);}
.event_bannerwrap{
    width: 1200px;
    margin: 20px auto 0;
    height: 205px;
}
.e_bannerinner1{
    float: left;
    display: block;
    width: 590px;
    height: 205px;
    background-repeat: no-repeat;
    background-size: 590px 205px;
    background-position: bottom right;
    border-radius: 5px;
    color: #000000;
    font-size: 17px;
    line-height: 23px;
    padding: 55px 0 0 30px;
    text-align: left;
    margin: 0 10px 0 0;
}
.eimg1{
    background-color: #def9f4;
    background-image: url(../img/e_banner1.jpg);
}
.e_bannerinner1 b, .e_bannerinner2 b{
    display: block;
    font-size: 29px;
    margin-bottom: 24px;
}
.e_bannerinner2{
    float: left;
    display: block;
    width: 590px;
    height: 205px;
    background-repeat: no-repeat;
    background-size: 590px 205px;
    background-position: bottom right;
    border-radius: 5px;
    color: #000000;
    font-size: 17px;
    line-height: 23px;
    padding: 55px 0 0 30px;
    text-align: left;
    margin: 0 0 0 10px;
}
.eimg2{
    background-color: #d9c5de;
    background-image: url(../img/e_banner2.jpg);
}
.bestwrap{
    width: 1200px;
    margin: 100px auto 0;
    padding: 0;
    text-align: left;
}
.besttitle{
    text-align: left;
    display: inline-block;
    color: #000000;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.more{
    display: inline-block;
    width: 18px;
    height: 21px;
    background-image: url(../img/more_icon.png);
    background-repeat: no-repeat;
    background-size: 18px 21px;
    vertical-align: top;
    margin: 4px 0 5px 7px;
}
.bestlist{
    display: block;
    margin: 0;
    width: 100%;
}
.bestlist ul{
    height: 660px;
    width: auto;
}
.bestlist ul li{
    width: 210px;
    height: 310px;
    margin: 20px 15px 0;
    float: left;
}
.b_item{
    display: block;
    position: relative;
    width: 210px;
    height: auto;
    text-align: center;
}
.b_number{
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #8f8f8f;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
}
.num1{background-color: #c80203;}
.b_bg{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.03;
}
.best_item{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.itemimage1{background-image: url(../img/best_item1.jpg);}
.itemimage2{background-image: url(../img/best_item2.jpg);}
.itemimage3{background-image: url(../img/best_item3.jpg);}
.itemimage4{background-image: url(../img/best_item4.jpg);}
.itemimage5{background-image: url(../img/best_item5.jpg);}
.itemimage6{background-image: url(../img/best_item6.jpg);}
.itemimage7{background-image: url(../img/best_item7.jpg);}
.itemimage8{background-image: url(../img/best_item8.jpg);}
.itemimage9{background-image: url(../img/best_item9.jpg);}
.itemimage10{background-image: url(../img/best_item10.jpg);}
.b_name{
    display: block;
    width: 210px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.b_price1{
    display: block;
    width: 210px;
    margin: 7px 0 5px 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    font-weight: bold;
}
.red{color: #f20001;}
.newwrap{
    width: 1200px;
    height: 420px;
    margin: 50px auto 0;
    padding: 0;
    text-align: left;
}
.newtitle{
    text-align: left;
    display: inline-block;
    color: #000000;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
.newlist{
    padding: 12px 0 0 0;
}
.new_inner{
    display: block;
    text-align: left;
    float: left;
    width: 390px;
    height: 380px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 390px 380px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    padding: 32px 0 0 20px;
    margin: 0 15px 0 0;
}
.new_inner2{
    display: block;
    text-align: left;
    float: left;
    width: 390px;
    height: 380px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 390px 380px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    padding: 32px 0 0 20px;
}
.n_item1{background-image: url(../img/new_item1.jpg);}
.n_item2{background-image: url(../img/new_item2.jpg);}
.n_item3{background-image: url(../img/new_item3.jpg);}
.new_inner b, .new_inner2 b{
    display: block;
    text-align: left;
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 15px 0;
}
.epwrap{
    display: block;
    width: 1200px;
    margin: 80px auto 0;
    border-radius: 5px;
    background-color: #ffef8d;
}
.ep_bg{
    display: block;
    width: 1200px;
    height: 350px;
    border-radius: 5px;
    background-image: url(../img/ep_bg1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.eplist{
    width: 100%;
    padding: 15px 15px 5px;
}
.ep_list{
    height: 306px;
}
.ep_list li{
    width: 208px;
    height: 306px;
    margin: 0 13px;
    float: left;
}
.ep_inner{
    display: block;
    position: relative;
    width: 208px;
    text-align: center;
    height: 208px;
    background-color: #ffffff;
}
.ep_item1{
    background-image: url(../img/ep_item1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 208px;
}
.ep_item2{
    background-image: url(../img/ep_item2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 208px;
}
.ep_item3{
    background-image: url(../img/ep_item3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 208px;
}
.ep_item4{
    background-image: url(../img/ep_item4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 208px;
}
.ep_item5{
    background-image: url(../img/ep_item5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 208px;
}
.ep_name{
    display: block;
    width: 210px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.designwrap{
    margin: 90px 0 0 0;
    display: block;
    height: 250px;
    background-color: lightsteelblue;
}
.chwrap{
    display: block;
    background-color: #f8f8f8;
    margin: 80px 0 0 0;
    padding: 67px 0 0 0;
}
.menu_ch{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    background-color: lightcoral;
}
.list_ch{
    display: block;
    width: 1200px;
    height: 590px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
}
.about_ch{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.about_ch_inner{
    display: block;
    width: 1170px;
    height: 240px;
    margin: 0 15px;
    background-image: url(../img/about_ch.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.artwrap{
    margin: 80px auto 0;
    width: 1200px;
    height: 97px;
    background-image: url(../img/art2.png);
    background-repeat: repeat-x;
    background-size: 14px 3px;
    background-position: center;
}
.art_inner{
    width: 473px;
    height: 97px;
    background-image: url(../img/art1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.inwrap{
    width: 1200px;
    height: 550px;
    margin: 70px auto 0;
}
.in_list{
    float: left;
    width: 812px;
    height: 550px;
}
.in_title{
    color: #000000;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
.in_title2{
    font-weight: normal;
    font-size: 20px;
    color: #aeaeae;
}
.in_ul{
    width: 812px;
}
.in_ul li{
    height: 250px;
    width: 250px;
    display: block;
    margin: 10px 10px 0 0;
    float: left;
}
.in_inner{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px;
}
.in_item1{background-image: url(../img/in_item1.jpg);}
.in_item2{background-image: url(../img/in_item2.jpg);}
.in_item3{background-image: url(../img/in_item3.jpg);}
.in_item4{background-image: url(../img/in_item4.jpg);}
.in_item5{background-image: url(../img/in_item5.jpg);}
.in_item6{background-image: url(../img/in_item6.jpg);}
.in_list2{
    display: block;
    float: left;
    width: 388px;
    height: 550px;
}
.in_event{
    position: relative;
    background-color: #f5f5f5;
    width: 388px;
    height: 510px;
    margin-top: 10px;
    padding: 60px 0 0 0;
}
.in_event_inner{
    width: 240px;
    height: 380px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 7px;
}
.in_event_inner2{
    width: 226px;
    height: 293px;
    background-image: url(../img/in_event.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.in_txt{
    padding: 13px 0 0 0;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.tbwrap{
    width: 1200px;
    height: 157px;
    margin: 57px auto 38px;
    display: block;
}
.tb1wrap{
    display: block;
    float: left;
    width: 392px;
    height: 157px;
    margin: 0 12px 0 0;
    border-radius: 5px;
    background-color: #deecf7;
}
.tb1{
    width: 392px;
    height: 157px;
    background-image: url(../img/tb1.png);
    background-repeat: no-repeat;
    background-size: 55px 110px;
    background-position: 35px center;
}
.tb1 h1{
    padding: 34px 0 0 105px;
    font-weight: normal;
    height: 62px;
    line-height: 28px;
    font-size: 24px;
    color: #000000;
    text-align: left;
}
.tb1 h2{
    padding: 5px 0 0 105px;
    font-weight: normal;
    height: 41px;
    line-height: 18px;
    font-size: 15px;
    color: #000000;
    text-align: left;
}
.tb1 h3{
    padding: 5px 0 0 105px;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #000000;
    text-align: left;
}
.tb2wrap{
    background-color: rgb(252, 248, 244);
    float: left;
    width: 392px;
    height: 157px;
    margin: 0 12px 0 0;
    border-radius: 5px;
}
.tb2{
    width: 392px;
    height: 157px;
    background-image: url(../img/tb5.jpg);
    background-size: 130px 122px;
    background-repeat: no-repeat;
    background-position: 245px center;
}
.tb2 h1{
    padding: 34px 0 0 35px;
    font-weight: normal;
    height: 62px;
    line-height: 28px;
    font-size: 24px;
    color: #000000;
    text-align: left;
}
.tb2 h2{
    padding: 8px 0 0 35px;
    height: 60px;
    text-align: left;
}
.tb2 h2 span{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 8px 0 0;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}
.iso{background-image: url(../img/tb2.png);}
.android{background-image: url(../img/tb3.png);}
.desktop{background-image: url(../img/tb4.png);}
.tb3wrap{
    border: 3px solid #dddddd;
    background-color: #ffffff;
    border-radius: 5px;
    height: 157px;
    width: 392px;
    float: left;
}
.tb3{
    width: 392px;
    height: 157px;
    background-image: url(../img/tb6.png);
    background-size: 101px 80px;
    background-repeat: no-repeat;
    background-position: 45px 32px;
}
.tb3 h1{
    padding: 47px 0 0 157px;
    font-weight: normal;
    height: 107px;
    line-height: 30px;
    font-size: 25px;
    color: #3a4b59;
    text-align: left;
}
