*{margin: 0; padding: 0; box-sizing: border-box; list-style: none;}

body{font-family: 'Noto Sans KR', sans-serif;}

.wrap{
    min-width: 1280px;
}
.sec1{
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
    min-width: 1180px;
}
.banner{
    min-width: 1180px;
    height: 690px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.banner_ani{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 690px;
    background-image: url(../img/bg_main02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes change{
    33%{background-image: url(../img/bg_main04.jpg);}
    66%{background-image: url(../img/bg_main05.jpg);}
    100%{background-image: url(../img/bg_main02.jpg);}
}
.sec2{
    width: 1280px;
    height: 180px;
    margin: 0 auto;
    padding: 40px 0;
}
.sec2_list{
    width: 1050px;
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.sec2_box{
    width: 175px;
    height: 100px;
    padding: 0 55px;
}
.box{
    margin-bottom: 14px;
    width: 70px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url(../img/sp_com.png);
    background-position: 0 0;
}
.sec2_img1{background-position: 0 -112px;}
.sec2_img1:hover{
    background-image: url(../img/sp_com4.png);
    background-repeat: no-repeat;
    background-position: 0 -7px;
}
.sec2_img2{background-position: -72px -112px;}
.sec2_img2:hover{
    background-image: url(../img/sp_com4.png);
    background-repeat: no-repeat;
    background-position: -72px -7px;
}
.sec2_img3{background-position: -144px -112px;}
.sec2_img3:hover{
    background-image: url(../img/sp_com4.png);
    background-repeat: no-repeat;
    background-position: -144px -7px;
}
.sec2_img4{background-position: -216px -112px;}
.sec2_img4:hover{
    background-image: url(../img/sp_com4.png);
    background-repeat: no-repeat;
    background-position: -216px -7px;
}
.sec2_img5{background-position: -288px -112px;}
.sec2_img5:hover{
    background-image: url(../img/sp_com4.png);
    background-repeat: no-repeat;
    background-position: -288px -7px;
}
.sec2_img6{background-position: -360px -112px;}
.sec2_img6:hover{
    background-image: url(../img/sp_com4.png);
    background-repeat: no-repeat;
    background-position: -360px -7px;
}
.sec2_txt{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.sec3{
    width: 100%;
    height: 700px;
    background-color: #dfd9d1;
}
.sec3_inner{
    width: 100%;
    height: 590px;
    padding: 40px 0;
}
.han_txt1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.sec3_txt1{
    font-size: 18px;
    margin: 5px 0 38px;
    text-align: center;
}
.sec3_inner2{
    margin: 0 auto;
    width: 1180px;
    height: 430px;
    display: flex;
    background-color: lightskyblue;
}
.sec3_inner2_img{
    height: 430px;
    width: 800px;
    background-image: url(../img/thumbview\(12\).jpg);
    background-position: left;
    background-repeat: no-repeat;
}
.sec3_inner2_txt{
    width: 380px;
    height: 430px;
    background-color: #fff;
    justify-content: rightc;
    align-items: center;
    padding: 20px;
    text-align: left;
}
.txt_box{
    width: 340px;
    height: 80px;
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.txt_box2{
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec3_img1{background-image: url(../img/thumbview13.jpg);}
.sec3_img2{background-image: url(../img/thumbview14.jpg);}
.sec3_img3{background-image: url(../img/thumbview15.jpg);}
.sec3_img4{background-image: url(../img/thumbview16.jpg);}
.sec3_txt2{
    width: 230px;
    height: 24px;
    margin-top: -65px;
    margin-left: 95px;
    font-weight: bold;
    font-size: 13px;
}
.sec3_txt3{
    width: 160px;
    height: 24px;
    margin-left: 95px
}
.sec4{
    width: 100%;
    height: 800px;
    background-color: #f2f0ed;
    text-align: center;
    padding: 40px 0 90px;
}
.sec4_inner{
    width: 1280px;
    height: 640px;
    margin: 0 auto;
}
.sec4_box{
    width: 1180px;
    height: 600px;
    margin: 40px auto;
    /* background-color: indigo; */
}
.slide{
    width: 1180px;
    height: 550px;
    overflow: hidden;
}
.s_box_inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.s_box{
    height: 550px;
    width: 280px;
    background-color: #fff;
}
.s_content{
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img4_1{background-image: url(../img/sec4_1.jpg);}
.img4_2{background-image: url(../img/sec4_2.jpg);}
.img4_3{background-image: url(../img/sec4_3.jpg);}
.img4_4{background-image: url(../img/sec4_4.jpg);}
.img4_5{background-image: url(../img/sec4_5.jpg);}
.img4_6{background-image: url(../img/sec4_6.jpg);}
.img4_7{background-image: url(../img/sec4_7.jpg);}
.img4_8{background-image: url(../img/sec4_8.jpg);}
.img4_9{background-image: url(../img/sec4_9.jpg);}
.img4_10{background-image: url(../img/sec4_10.jpg);}
.img4_11{background-image: url(../img/sec4_11.jpg);}
.img4_12{background-image: url(../img/sec4_12.jpg);}
.img4_13{background-image: url(../img/sec4_13.jpg);}
.img4_14{background-image: url(../img/sec4_14.jpg);}
.img4_15{background-image: url(../img/sec4_15.jpg);}
.img4_16{background-image: url(../img/sec4_16.jpg);}
.img4_17{background-image: url(../img/sec4_17.jpg);}
.img4_18{background-image: url(../img/sec4_18.jpg);}
.img4_19{background-image: url(../img/sec4_19.jpg);}
.img4_20{background-image: url(../img/sec4_20.jpg);}
.img4_21{background-image: url(../img/sec4_21.jpg);}
.img4_22{background-image: url(../img/sec4_22.jpg);}
.img4_23{background-image: url(../img/sec4_23.jpg);}
.img4_24{background-image: url(../img/sec4_24.jpg);}
.sec4_txt{
    height: 270px;
    padding: 26px 28px 24px;
    color: #000;
    text-align: left;
}
.sec4_txt2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sec4_txt3{
    position: relative;
    padding-left: 67px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
}
.sec4_txt3 > span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-weight: 600;
}
.sec5{
    width: 100%;
    height: 460px;
    padding: 40px 0 100px;
}
.sec5_inner{
    width: 1280px;
    height: 320px;
    margin: 0 auto;
}
.sec5_box{
    width: 1180px;
    height: 240px;
    margin: 40px auto;
    /* background-color: indigo; */
}
.slide2{
    width: 1180px;
    height: 240px;
    overflow: hidden;
}
.s_box2{
    height: 240px;
    width: 280px;
    background-color: #fff;
}
.s_content2{
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img5_1{background-image: url(../img/sec5_1.png);}
.img5_2{background-image: url(../img/sec5_2.jpg);}
.img5_3{background-image: url(../img/sec5_3.jpg);}
.img5_4{background-image: url(../img/sec5_4.jpg);}
.img5_5{background-image: url(../img/sec5_5.jpg);}
.img5_6{background-image: url(../img/sec5_6.png);}
.img5_7{background-image: url(../img/sec5_7.jpg);}
.img5_8{background-image: url(../img/sec5_8.jpg);}
.img5_9{background-image: url(../img/sec5_9.jpg);}
.img5_10{background-image: url(../img/sec5_10.jpg);}
.img5_11{background-image: url(../img/sec5_11.jpg);}
.img5_12{background-image: url(../img/sec5_12.png);}
.img5_13{background-image: url(../img/sec5_13.jpg);}
.img5_14{background-image: url(../img/sec5_14.jpg);}
.img5_15{background-image: url(../img/sec5_15.jpg);}
.img5_16{background-image: url(../img/sec5_16.jpg);}
.img5_17{background-image: url(../img/sec5_17.jpg);}
.img5_18{background-image: url(../img/sec5_18.jpg);}
.img5_19{background-image: url(../img/sec5_19.jpg);}
.img5_20{background-image: url(../img/sec5_20.jpg);}
.slick-next, .slick-prev{
    top: 40% !important;
}
.slick-next:before{
    color: #2d5d79 !important;
}
.slick-prev:before{
    color: #2d5d79 !important;
}
.sec5_txt{
    padding: 0 15px;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.sec6{
    /* height: 390px; */
    padding: 55px 0;
    background-image: url(../img/bg_main_business.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.sec6_inner{
    width: 1180px;
    height: 280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.sec6_box{
    height: 280px;
    width: 280px;
    background-color: #f2f0ed;
    position: relative;
}
.sec6_img{
    height: 280px;
    background-image: url(../img/bg_key_link03.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.sec6_img p{
    padding-top: 153px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.sec6_box h2{
    text-align: center;
    font-size: 25px;
    color: #2d5d79;
    height: 67px;
    line-height: 67px;
    font-weight: bold;
}
.icon{
    position: absolute;
    top: 17px;
    right: 23px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/sp_com.png);
    background-position: -196px -60px;
    background-repeat: no-repeat;
}
.sec6_list{
    width: 100%;
    border-top: 1px solid #fff;
}
.sec6_list li{
    padding: 12px 20px;
    display: block;
    border-bottom: 1px solid #fff;
    height: 106px;
}
.sec6_list li p{
    text-align: left;
    font-size: 15px;
}
.p2{
    color: #929292;
    font-size: 13px;
}
.sec6_list li:last-child{
    border-bottom: none;
}
.sec6_list li:last-child{
    border-bottom: none;
}
.box_color{
    float: left;
    padding: 0 20px;
    background: #fff;
    height: 280px;
}
.select1{
    width: 240px;
    height: 45px;
    margin-top: 10px;
    background: #f2f0ed;
    border: none;
    padding: 0 15px 0 15px;
    font-size: 15px;
}
.sel1_2{
    background: #fff;
    font-weight: bold;
}
.sec6_box2{
    display: block;
    margin-top: 10px;
    width: 240px;
    height: 45px;
    border: none;
    line-height: 45px;
    background: #f2f0ed;
    padding: 0 20px;
    font-size: 15px;
}
button{
    display: block;
    margin-top: 25px;
    background: #2d5d79;
    color: #fff;
    height: 45px;
    width: 240px;
    line-height: 45px;
    text-align: center;
    border: none;
    font-size: 16px;
}
