*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
.re_wrap{
    margin: 0 40px;
    background-image: url(../../img/cooking_bg.jpg);
    margin-bottom: 40px;
}
.re_content{
    max-width: 1920px;
    margin: 0 auto;
}
.re_banner{
    height: 430px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../../img/re_banner.jpg);
}
.re_sec{
    max-width: 800px;
    /* padding: 0 30px; */
    position: relative;
    margin: 0 auto;
    height: 1600px;
}
.re_sec_wrap{
    width: 800px;
    position: relative;
    margin-top: -100px;
}
.re_list_wrap{
    float: left;
    width: 800px;
}
.list2{
    width: 253px;
    display: grid;;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

